<footer class="main-footer">
    <div class="container container--flex">
        <div class="column column--33">
            <h2 class="column__title">¿Por que contratarnos?</h2>
            <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam tempora eaque nulla quod repellendus neque quam at, placeat fugiat temporibus delectus dignissimos fugit atque sequi nam aliquam provident quos saepe.</p>
        </div>
        <div class="column column--33">
            <h2 class="column__title">Contáctanos</h2>
            <p class="column__txt">Municipalidad de Hurlingham</p>
            <p class="column__txt">99-9999-9999</p>
            <p class="column__txt">consultas@adiestramiento.com</p>
        </div>
        <div class="column column--33">
            <h2 class="column__title">Siguenos en nuestras redes</h2>
            <p class="column__txt"><a href="" class="icon-facebook">Facebook</a></p>
            <p class="column__txt"><a href="" class="icon-twitter">Síguenos en Twitter</a></p>
            <p class="column__txt"><a href="" class="icon-instagram">Nuestro Instagram</a></p>
        </div>
        <p class="copy">© Adiestramiento Canino | Todos los derechos reservados </p>
    </div>
</footer>